/CC GENERAL.xls
/CodigoFinal.ipynb
/CodigoFinalOrdenado.ipynb
/Country-data.xls
/loan_data.xls
/Mall_Customers.csv
/Parte_01.ipynb
/Parte_02.ipynb
/Parte_03.ipynb
/Parte_04.ipynb
/Wholesale customers data.xls